<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <div class="">
        <h1>Admin Home Page</h1><br>
        <h1><a href="/admins/events">Events</a></h1>
        <h1><a href="/admins/locations">Locations</a></h1>
        <h1><a href="/admins/promoters">Promoters</a></h1>
    </div>
    <div>
        <button><a href="/"> Log Out </a></button>
    </div>
</body>

</html>