body {
  margin: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

th,
td {
  width: 20px;
  text-align: left;
  padding-inline: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.table_details {
  white-space: nowrap;
  margin: auto;
  margin-bottom: 20px;
  padding: auto;
  width: fit-content;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}

.edit {
  color: green;
  text-decoration: none;
}

.show {
  color: orangered;
  text-decoration: none;
}
