body {
  margin: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-inline: 40px;
  display: inline-block;
  font-family: monospace;
  font-size: 25px;
}

h3 {
  margin-inline: 40px;
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
}

th,
td {
  width: 20px;
  text-align: center;
  padding-inline: 20px;
}

.table_details {
  white-space: nowrap;
  margin: auto;
  margin-bottom: 20px;
  padding: auto;
  width: fit-content;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}

.showDetail {
  color: blue;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.posterShow img {
  display: none;
}
.posterShow:hover img {
  display: block;
  max-width: 100%;
  height: auto;
}

.posterShow:hover {
    color: transparent;
  }
