<html>
    <head>
        <link rel="stylesheet" href="location-list.component.css">
    </head>
    <body (mouseenter)="setRole()" (mouseleave)="setRole()">
        <div class="table" id="itemTable" *ngIf="locations">
            <h1 class="text-center">Location List</h1>
        
            <div class="row">
                <div class="col-md-2 center">
                </div>
                <div class="col-md-2 center">
                    Place
                </div>
                <div class="col-md-2 center" hidden>
                    Max Capacity
                </div>
                <div class="col-md-2 center"> 
                    Limited Capacity %
                </div>
                <div class="col-md-2 center"> 
                    Limited Capacity
                </div>
                <div class="col-md-2 center"></div>
                <div class="col-md-2 center"></div>
                <div class="col-md-2 center"></div>
            </div>
        
            <div class="row" *ngFor="let location of locations; let i=index;">
                <div class="col-md-2 center">
                    {{i+1}}
                </div>
                <div class="col-md-2 center">
                    {{location.place}}
                </div>
                <div class="col-md-2 center" hidden>
                    {{location.max}}
                </div>
                <div class="col-md-2 center">
                    {{location.limit}}%
                </div>
                <div class="col-md-2 center">
                    {{location.max * location.limit/100}}
                </div>
                <div class="col-md-2 center">
                    <button class="view-button" title="view product" (click)="view(location._id)">
                        View Details
                    </button>
                </div>
                <div *ngIf="adminOrPromoter" class="col-md-2 center">
                    <button class="view-button" title="edit product" (click)="editLocation(location._id)">
                        Edit
                    </button>
                </div>
                <div *ngIf="adminOrPromoter" class="col-md-2 center">
                    <button class="delete-button" title="delete product" (click)="delete(location._id)">
                        Delete
                    </button>
                </div>
            </div>
        
            <div *ngIf="adminOrPromoter" class="new-location">
                <button (click)="createLocation()"> Add Location </button>    
            </div>

            <!--<h1>{{name}}</h1>-->
        </div>
    </body>
</html>
